@charset "utf-8"
@import "nib"

global-reset()

body
  background #000
  color #ddd

.control
  position relative
  z-index 1

.archive-image
  width 100%
  padding 4px
  box-sizing border-box
  position absolute
  bottom 0
  z-index 1
  text-align right

.result-file-image
  width 32px
  height 32px
  margin-left 4px
  display inline-block
  &:hover
    img
      opacity .8 
  img
    width 100%
    height auto
    cursor pointer

.download
  cursor pointer
  border 1px solid 