@charset "utf-8"
@import "kouto-swiss"

normalize()

// colors
_primaryClr = #168eea
_headingClr = #323b43
_bodyClr = #59626a
_borderClr = #ced7df
_lightBorderClr = #eff3f6
_fillClr = #f4f7f9
_errorClr = #ee4f4f
_warningClr = #fff9ea
_successClr = #76b852
_facebook = #3b5998
_twitter = #55acee
_googleplus = #dd4b39

body
  background _headingClr
  color _borderClr
  font-size modular-scale(8px, 1, ks-golden)

input[type=search],
button
  color _headingClr

.control
  position relative
  z-index 1

.archive-image
  width 100%
  padding 4px
  box-sizing border-box
  position absolute
  bottom 0
  z-index 1
  text-align right

.result-file-image
  width 32px
  height 32px
  margin-left 4px
  display inline-block
  &:hover
    img
      opacity .8 
  img
    width 100%
    height auto
    cursor pointer

.download
  display inline-block
  background _primaryClr
  cursor pointer
  padding 4px 8px 
  vertical-align middlem
  color _borderClr
  text-decoration none 
